<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Senate Data</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div class="flex-row d-flex justify-content-between">
    <div class="logo flex-row">

      <a href="index.html"><img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-nmPL7t1cR4A%2FU9e9mgGxBMI%2FAAAAAAAA1t4%2FZPj35qGHeKI%2Fs1600%2Ftgif-950x950.png&f=1" alt="tgif-logo"></a>

    </div>
    <div class="text-right"><i class="fas fa-envelope"></i><a href="mailto:info@tgif.net">info@tgif.net</a></div>
  </div>

  <header class="d-flex align-items-center">
    <div class="d-flex justify-content-center">
      <ul class="dropdown">
        <li><a href="index.html">Home</a></li>
        <li>
          <a href="#" data-toggle="dropdown" class="this">Congress 113</a>
          <ul class="dropdown-menu">
            <li><a href="#">Senate</a></li>
            <li><a href="house-data.html">House</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="dropdown">Attendance</a>
          <ul class="dropdown-menu">
            <li><a href="attendance-senate.html">Senate</a></li>
            <li><a href="attendance-house.html">House</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="dropdown">Party Loyalty</a>
          <ul class="dropdown-menu">
            <li><a href="loyalty-senate.html">Senate</a></li>
            <li><a href="loyalty-house.html">House</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>

  <div id="app" class="container">
    <div class="padding-top">
      <h2>Senators</h2>
      <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate
        has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive
        officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
    </div>
    <div v-if="show" class="loader d-flex justify-content-center">
      <div id="loader" class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="filter-both flex-row d-flex justify-content-between">
      <div class="filters">Filter by Party:
        <label><input type="checkbox" name="party" value="Republican" id="republican" v-on:change="filterData()" checked>&nbsp;&nbsp;Republican</label>
        <label><input type="checkbox" name="party" value="Democrat" id="democrat" v-on:change="filterData()" checked>&nbsp;&nbsp;Democrat</label>
        <label><input type="checkbox" name="party" value="Independent" id="independent" v-on:change="filterData()" checked>&nbsp;&nbsp;Independent</label>
      </div>
      <div class="state-filters">Filter by State:
        <select name="state-filter" id="state50" v-on:change="filterData">
          <option value="none">Select</option>
          <option v-for='state in stateList' v-bind:value="state">{{state}}</option>
        </select>
      </div>

    </div>

    <table class="table">
      <thead>
        <tr class="text-center">
          <th>Name</th>
          <th>Party</th>
          <th>State</th>
          <th>Years in Office</th>
          <th>&#37;Vote w/ Party</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='member in filteredData'>
          <td>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
          <td>{{member.party}}</td>
          <td>{{member.state}}</td>
          <td>{{member.seniority}}</td>
          <td>{{member.votes_with_party_pct}}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <p>&copy;2016 TGIF &#124; All Right Reserved</p>
  </footer>

  <!-- <script type="text/javascript" src="pro-congress-113-senate.js">
  </script> -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="main.js">
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
